h1 {
  color: blue;
}

p {
  color: black;
}

body {
  display:flex;
  flex-direction: column;justify-content: flex-end;

  background-image: url('harry-potter.jpg ');
  background-size: cover;
}
main{
  background-color: rgba(255, 255, 255, 0.7); width: 500px;
  padding:2em;
}
.draco{
  background-image: url('draco.jpg');
  
}
.draco h1{color: seagreen}
img{width: 300px}